body {
    background-image: url('images/bgpink.gif');
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 400px;
    width: 90%;
    background-color: rgb(253, 208, 231);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(194, 74, 120, 0.1);
    margin: 100px auto;
    padding: 40px;
    position: relative;
    font-weight: bold;
}

.form-container h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #333;
    text-align: center;
}

.form-container .input-container {
    margin-bottom: 20px;
}

.form-container .input-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #555;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-position: left top;
    background-repeat: no-repeat;
    transition: background-position 0.3s ease;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
    background-position: 0px top;
}

.form-container .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-container button[type="submit"],
.form-container button.register {
    width: 48%; /* Adjusted width */
    background-color: #ff69b4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover,
.form-container button.register:hover {
    background-color: #c768b7;
}

.form-container a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #1a1b1b;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.form-container a:hover {
    color: #2596d8;
}

